{{ define "main" }}

<div class="ph3 bg-off-white">
	<div class="center mw6 pv3">

		<img src="{{ .Params.logo }}" alt="" class="db w4 center pv4">

		{{ .Content }}

		<div class="flex-ns mb3" style="justify-content: space-between;">
	        	{{ range .Params.contact_entries }}
				<div>
					<a href="{{ .reference }}" target="_blank" style="text-decoration: none;">
						<h4 class="f4 b lh-title mb2 primary">{{ .heading }}</h4>
						<p>{{.text}}</p>
					</a>
				</div>
			{{ end }}
		</div>

		{{ partial "contact-form" . }}

	</div>
</div>

{{ end }}
